header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
      a.navbar-brand(href="/")
        img(src="/twenty_sided_dice.svg" alt="Logo")
      button.navbar-toggler.border-0.shadow-none(type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarTogglerDemo02
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/productos/vista") Productos
